{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
<a href="#">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">
<h4>Why Choose Us</h4>
			<div class="w3-agileits-team-title"> 
				
				
			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<h5>Interior Designs</h5>
					</li>
					<li>
						<h5>Exterior Designs</h5>
					</li>
					<li>
						<h5>Gardening</h5>
					</li>
					<li>
					<h5>Roofing</h5>
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="row">
<div class="col-md-6 com-sm-6 w3three_al2">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al3">
<img src="images/ab1.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					
					<div class="tab2">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al4">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al5">
<img src="images/ab2.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					<div class="tab3">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al6">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al7">
<img src="images/ab3.jpg" alt="" class="img-fluid">
</div>
</div>	
					</div>
					<div class="tab4">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al8">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al9">
<img src="images/ab4.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					</div>
					
					
			</div>
	</div>
	</div>
</div>
</div>
</section>



{% endblock %}

