{% extends 'index.html' %}
{% load static %}
{% block body %}

	<div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>
<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact" style="margin-top:7%">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Customer Home Page</h3>
<iframe style="height:0">
</iframe>
<img src="{% static 'images/home4.jpg' %}" style="width:100%;height:500px">
</section>
{% endblock %}